<!--
  Copyright 2013 DEIB, Politecnico di Milano
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE_ERROR" class="ch.qos.logback.core.FileAppender">
		<file>log/csparql_server_error.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE_DEBUG" class="ch.qos.logback.core.FileAppender">
		<file>log/csparql_server_debug.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="CSPARQL_ENGINE" class="ch.qos.logback.core.FileAppender">
		<file>log/csparql_engine_perferomance.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>


	<logger name="eu.larkc.csparql.sparql.jena.JenaEngine">
		<appender-ref ref="CSPARQL_ENGINE" />
	</logger>
	
	<logger name="org.apache.jena.riot" level="OFF" />
	
	<logger name="ch.qos.logback.*" level="OFF" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
	<root level="ERROR">
		<appender-ref ref="FILE_ERROR" />
	</root>
	<root level="DEBUG">
		<appender-ref ref="FILE_DEBUG" />
	</root>

</configuration>
